DATABASE_URL="file:./dev.db"
FEDAPAY_SECRET_KEY=""
FEDAPAY_ENV="sandbox"
FEDAPAY_WEBHOOK_SECRET=""
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
ADMIN_PASSWORD="district130"
ADMIN_COOKIE_SECRET="changez-moi-en-production"
